{% extends 'base.html' %}

{% block content %}
    <h1 class="title">{% block title %} Books {% endblock %}</h1>
    <div class="content">
        {% for book in books %}
            <div class="book">
                <p><b>#{{ book.id }}</b></p>
                <b>
                    <p class="name">{{ book.booktitle }}</p>
                </b>
                <p>Written By:
                {% for currauthor in book.author %}
                {{currauthor.authorName}} 
                {% endfor %}
                </p>
                <p>Published in: {{ book.publicationYear }} </p>
                <p>Added to Library: {{ book.created_at }}</p>
                <p>Genre: {{ book.genre }}</p>
                <div class="description">
                    <h4>Description</h4>
                    <p>{{ book.description }}</p>
                </div>
                <form action="{{ url_for('delete_book', book_id=book.id) }}" method="post">
                    <button type="submit" style="color: white; background-color: red;">Delete</button>
                </form>
                <form action="{{ url_for('edit_book', book_id=book.id) }}" method="get">
                    <button type="submit" style="color: white; background-color: blue;">Edit</button>
                </form>
                
            </div>
        {% endfor %}
    </div>
{% endblock %}